name: Upload Python Package on PyPI

on:
  release:
    types: [published]
  pull_request:
    branches:
      - main

jobs:
  build-artifacts:
    runs-on: ubuntu-slim
    if: |
      github.repository == 'xarray-contrib/xdggs'
      && (
        github.event_name == 'release'
        || (
          github.event_name == 'pull_request'
          && contains(github.event.pull_request.labels.*.name, 'release')
        )
      )

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.x"
      - name: Install publish dependencies
        run: python -m pip install build twine
      - name: Build package
        run: python -m build . -o dist
      - name: Check built artifacts
        run: |
          python -m twine check --strict dist/*
          pwd
          if [ -f dist/xdggs-0.1.*.tar.gz ]; then
            echo "❌ INVALID VERSION NUMBER"
            exit 1
          else
            echo "✅ Looks good"
          fi
      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: releases
          path: dist

  deploy:
    runs-on: ubuntu-slim
    needs: build-artifacts
    if: github.event_name == 'release'

    environment:
      name: pypi
      url: https://pypi.org/p/xdggs
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: releases
          path: dist

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          verbose: true
          packages-dir: dist/
